* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(90deg, white 60%, #272727 40%);
}

.headerStore {
    width: 100%;
    padding-top: 70px;

}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent a {
    margin-left: 10%;
}

.iconsHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.iconsHeader box-icon:hover {
    cursor: pointer;
}


.headerContent box-icon {
    width: 2rem;
    height: 2rem;
    margin-inline: 10px;
}

/*Burger button*/
.burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #c9c9c9;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    transition: all 0.1s ease 0s;
}

.burger:hover {
    cursor: pointer;
}
.burger::before { top: 17%}
.burger::after {bottom: 15%}

.burger:hover::before {top: 13%;}
.burger:hover::after {bottom: 10%;}

.burger.active span { transform: scale(0);}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media (max-width: 1101px) {
    header {
        background-image: linear-gradient(129deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

@media (max-width: 430px) {
    header {
        background-image: linear-gradient(108deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

/*Main section*/
.ringMainSection {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 12.6%;
    justify-content: center;
    align-items: center;
}

.ringMainSection::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: gray;
    margin-right: 20px;
    margin-top: 6%;
}

.ringMainSection:hover::before {
    cursor: pointer;
}

.ringMainSection a {
    text-decoration: none;
    margin-right: 5%;
    color: gray;
    margin-top: 6%;
    font-size: 17px;
}

.ringMainSection .ringCartierMain {
    margin-right: 5%;
}

.discriptionMainSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 13%;
    margin-top: 11%;
}

.lang button {
    background-color: white;
    border: none;
    color: gray;
    font-size: 14px;
    margin-top: 80px;
}

.lang button:hover {
    color: rgb(212, 169, 48);
    cursor: pointer;
}

.discriptionMainSection .discRingMain a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: end;
}

.discRingMain .mainRingTrinity {
    margin-top: 10px;
    color: rgb(211, 210, 210);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.discRingMain .compoundRingTrinity {
    color: rgb(211, 210, 210);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.discRingMain .costRingTrinity {
    margin-top: 10px;
    color: rgb(212, 169, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
}