* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(90deg, white 60%, #272727 40%);
}

.headerStore {
    width: 100%;
    padding-top: 70px;

}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent a {
    margin-left: 10%;
}

.iconsHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.iconsHeader box-icon:hover {
    cursor: pointer;
}


.headerContent box-icon {
    width: 2rem;
    height: 2rem;
    margin-inline: 10px;
}

/*Burger button*/
.burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #c9c9c9;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    transition: all 0.1s ease 0s;
}

.burger:hover {
    cursor: pointer;
}
.burger::before { top: 17%}
.burger::after {bottom: 15%}

.burger:hover::before {top: 13%;}
.burger:hover::after {bottom: 10%;}

.burger.active span { transform: scale(0);}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media (max-width: 1101px) {
    header {
        background-image: linear-gradient(129deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

@media (max-width: 430px) {
    header {
        background-image: linear-gradient(108deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .headerContent a {margin-right: 15%;}
    .logo {margin: 0px}
}

@media (max-width: 380px){
    header {
        background-image: linear-gradient(115deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .headerContent a {
        margin-right: 15%;
    }
}

/*Main section*/
.ringMainSection {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 12.6%;
    justify-content: center;
    align-items: center;
}

.ringMainSection::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: gray;
    margin-right: 20px;
    margin-top: 6%;
}

.ringMainSection:hover::before {
    cursor: pointer;
}

.ringMainSection a {
    text-decoration: none;
    margin-right: 5%;
    color: gray;
    margin-top: 6%;
    font-size: 17px;
}

.ringMainSection .ringCartierMain {
    margin-right: 5%;
}

@media (max-width: 430px) {
    .ringMainSection{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30%;
    }
    .ringMainSection a, .ringMainSection::before{margin-left: 20px;}
    .ringCartierMain {width: 65%;}
}

@media (max-width: 375px) {
    .ringMainSection{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
    }
    .ringMainSection a, .ringMainSection::before{margin-left: 20px;}
}

.discriptionMainSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 13%;
    margin-top: 11%;
}

.lang button {
    background-color: white;
    border: none;
    color: gray;
    font-size: 14px;
    margin-top: 80px;
}

.lang button:hover {
    color: rgb(212, 169, 48);
    cursor: pointer;
}

.discriptionMainSection .discRingMain a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: end;
}

.discRingMain .mainRingTrinity {
    margin-top: 10px;
    color: rgb(211, 210, 210);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.discRingMain .compoundRingTrinity {
    color: rgb(211, 210, 210);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.discRingMain .costRingTrinity {
    margin-top: 10px;
    color: rgb(212, 169, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
}

/*First Section*/
.firstSection {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 430px) {
    .firstSection{margin-top: 10px;}
}

.genderSection {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-inline: 11.7%;
}

@media (max-width:430px) {
    .genderSection {
        margin: 0;
        flex-direction: column;
    }
}

.genderSection img {
    filter: brightness(70%);
}

.genderSection .manSection {
    position: absolute;
    left: 15%;
    top: 40%;
    text-decoration: none;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.genderSection .womanSection {
    position: absolute;
    left: 66%;
    top: 40%;
    text-decoration: none;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.genderSection .selectChapter {
    font-size: 25px;
    margin-bottom: 5%;
    font-weight: lighter;
}

.genderSection .manSection::after,
.genderSection .womanSection::after {
    content: '';
    width: 150px;
    height: 2px;
    background-color: rgb(240, 240, 240);
    margin-top: 10%;
}

@media (max-width:430px) {
    .genderSection .manSection {
        top: 20%;
    }
    .genderSection .womanSection {
        top: 70%;
        left: 17%;
    }
    .genderSection img {
        width: 100vw;
    }
}

/*Section for search nearest shop*/
.mapSection {
    width: 100%;
    height: 60vh;
    margin-top: 20px;
    display: flex;
    background-color: #272727;
    justify-content: space-between;
}

@media (max-width:430px) {
    .mapSection {
        flex-direction: column;
        margin-top: 10px;
        height: 80vh;
    }
}

.descriptionMapSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
}

@media (max-width: 430px){
    .descriptionMapSection {margin-top: 15px;}
}

.descriptionMapSection p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 50px;
    color: rgb(240, 240, 240);
}

.descriptionMapSection span {
    margin: 2em 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(175, 175, 175);
}

@media (max-width:430px) {
    .descriptionMapSection span{ margin: 20px 0px}
}

.inputFieldMap {
    position: relative;
}

.inputFieldMap input{
    width: 20vw;
    height: 5vh;
    outline: none;
    color: white;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid white;
    background-color: #272727;
}

@media (max-width: 430px){
    .inputFieldMap input {
        width: 80%;
        height: 5hv;
    }
}

.inputFieldMap box-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5em;
    left: 22em;
    transition: left 800ms;
}

@media (max-width: 430px){
    .inputFieldMap box-icon {
        left: 75%;
    }
}

.inputFieldMap box-icon:hover{
    left: 76%;
}

@media (max-width: 430px){
    .inputFieldMap box-icon:hover {
        left: 75%;
    }
    .inputFieldMap box-icon:active {
        left: 78%;
    }
}

.map {
    width: 38%;
    height: 100%;
    margin-right: 12%;
}

@media (max-width: 430px) {
    .map {
        width: 90%;
        height: 90%;
        margin: 25px 25px 25px 20px;
    }
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

#map {
    filter: invert(1) hue-rotate(180deg) brightness(0.8) contrast(0.8);
}

#map img {
    filter: invert(1) hue-rotate(180deg);
}

/*Section assortment*/
.assortment {
    width: 100%;
    margin-top: 10px;
    height: auto;
    display:flex;
    justify-content: center;
}

.jowsRing,
.croixRing,
.femaleNecklace,
.earringMoon,
.earringWin {
    position: relative;
    margin-inline: 10px;
    margin-bottom: 20px;
}

.femaleNecklace {
    margin-top: 2.5px;
}

.jowsRing a,
.croixRing a,
.earringMoon a,
.earringWin a {
    position: absolute;
    width: 300px;
    height: auto;
    left: 6%;
    top: 75%;
    text-decoration: none;
    color: rgb(211, 210, 210);
}

.femaleNecklace a {
    position: absolute;
    left: 6%;
    top: 88%;
    text-decoration: none;
    color: rgb(211, 210, 210);
}

.ring h2,
.Nl h2,
.earring h2 {
    color: rgb(75, 75, 75);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.ring span,
.Nl span,
.earring span {
    color: rgb(187, 187, 187);
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
}

.ring p,
.Nl p,
.earring p {
    color: rgb(212, 169, 48);
    margin-top: 10px;
    font-size: 20px;
}

@media (max-width:430px) {
    .assortment {
        flex-direction: column;
        margin-top: 15px;
        margin-left: 5px;
        width: 93vw;
    }
    .femaleNecklace, 
    .assortment img {
        width: 93vw;
    }
    .femaleNecklace a {
        top: 80%;
    }
}

@media (max-width: 414px) {
    .assortment {
        margin-left: 5px;
        margin-top: 15px;
        width: 93vw;
    }
    .assortment img {
        width: 93vw;
    }
}

@media (max-width: 375px) {
    .jowsRing a,
    .croixRing a,
    .earringMoon a,
    .earringWin a {top: 70%}
}

/*Slider "We are in social network"*/
.sliderSocialNetwork {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 96vh;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #272727;
}

.container {
    margin-top: 5%;
}

.container h3{
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-left: 5%;
}

.slider {
    margin-top: 5%;
}

.slide img {
    height: 38vh;
    margin-inline: 5px;
}

.navigationSlider {
    margin-top: 5%;
    margin-right: 13%;
    margin-left: 15%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.linkSocialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkSocialNetwork a {
    width: 35px;
    height: 35px;
    margin-inline: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkSocialNetwork i{
    display: flex;
    font-size: 35px;
}

.linkSocialNetwork i:hover::before {
    font-size: 25px;
    color: rgb(241, 175, 88);
    transition: ease 250ms;
}

.controlpanelSlider i::before {
    font-size: 40px;
    font-weight: lighter;
    margin-inline: 50px;
}

.controlpanelSlider, .btnList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.btnList input {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0 solid;
    background-color: #949494;
}