/*Burger menu*/
* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyBurgerMenu {
    background-color: #272727;
    width: 100%;
    height: 120vh;
    display: none;  
}

.headerStore {
    width: 100%;
    height: 14vh;
    padding-top: 40px;
    position: relative;
}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent a {
    margin-left: 10%;
}

.iconsHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.iconsHeader box-icon:hover {
    cursor: pointer;
}


.headerContent box-icon {
    width: 2rem;
    height: 2rem;
    margin-inline: 10px;
}

/*Burger button*/
.burgerButton {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 32px;
    margin-right: 10%;
}

.burgerButton span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #c9c9c9;
}

.burgerButton::before, .burgerButton::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    transition: all 0.1s ease 0s;
}

.burgerButton:hover {
    cursor: pointer;
}
.burgerButton::before { top: 17%}
.burgerButton::after {bottom: 15%}

.burgerButton:hover::before {top: 12%;}
.burgerButton:hover::after {bottom: 10%;}

.burgerButton.active span { transform: scale(0);}

.burgerButton.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burgerButton.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media (max-width: 1101px) {
    header {
        background-image: linear-gradient(129deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burgerButton {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

@media (max-width: 430px) {
    header {
        background-image: linear-gradient(108deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burgerButton {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .headerContent a {margin-right: 15%;}
    .logo {margin: 0px}
}

@media (max-width: 380px){
    header {
        background-image: linear-gradient(115deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .headerContent a {
        margin-right: 15%;
    }
}

.burgerMenu {
    width: 100%;
    height: 145dvh;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #272727;
    color: white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s ease;
}

.navigation {
    width: 100%;
    height: 10vh;
    margin-top: 2%;
    background-color: #313131;
}

.navLinks {
    height: 100%;
    margin-inline: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
    color: white;
}

.navLinks a::after {
    position: absolute;
    top: 97%;
    content: '';
    width: 0;
    height: 2px;
    background-color: rgba(241, 175, 88, 0);
    transition: all 250ms ease;
}

.navLinks a:hover {
    cursor: pointer;
}

.navLinks a:hover:after {
    cursor: pointer;
    width: 100%;
    height: 2px;
    background-color: rgb(241, 175, 88);
}

a.pushed::after {
    width: 100%;
    height: 2px;
    background-color: white;
}

/*navigationsCategories*/
.linksCategories {
    /* width: 100lvw; */
    height: 50vh;
    display: flex;
    position: relative;
    margin-left: 10%;
}

.linksCategories::after {
    position: absolute;
    top: 80%;
    left: 4%;
    margin-top: 3%;
    content: '';
    width: 82%;
    height: 2px;
    background-color: #313131;
}

.targetAudience,
.categoriesBijou,
.materials,
.brands {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 5%;
}

.targetAudience h2,
.categoriesBijou h2,
.materials h2,
.brands h2 {
    margin-bottom: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13.5px;
    color: white;
}

.targetAudience a,
.categoriesBijou a,
.materials a,
.brands a {
    width: max-content;
    height: max-content;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 13.5px;
    color: white;
}

.targetAudience a::after,
.categoriesBijou a::after,
.materials a::after,
.brands a::after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: rgba(241, 175, 88, 0);
    display: flex;
    align-items: center;
    transition: all 500ms ease;
}

.targetAudience a:hover:after,
.categoriesBijou a:hover:after,
.materials a:hover:after,
.brands a:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(241, 175, 88);
}

/*Footer burgerMenu*/
.footerBurger {
    /* margin-bottom: 5%; */
    margin-left: 13.5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.unClouCollection {
    position: relative;
    width: 750px;
    height: 270px;
}

.unClouCollection p {
    position: absolute;
    top:10%;
    left: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
}

.unClouCollection h2 {
    position: absolute;
    top: 45%;
    left: 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
}

.linkToCollection a{
    position: absolute;
    top: 81%;
    left: 65%;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
}

.linkToCollection i{
    position: absolute;
    top: 81%;
    left: 93%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    transition: all 1s ease;
}

.linkToCollection i:hover{
    cursor: pointer;
    left: 46.5%;
}

.linkToCollection:hover{
    cursor: pointer;
}

.informationAboutBurgerMenu {
    display: flex;
    flex-direction: column;
    align-content: start;
    margin-left: 8%;
}

.contactsHotLineBM {
    width: 90%;
    margin-bottom: 10%;
}

@media (max-width: 430px) {
    .contactsHotLineBM {
        margin-left: 0px;
    }
    .logoFooterBurgerMenu {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.socialLinks {
    display: flex;
}

.contactsHotLineBM h2 {
    display: flex;
    font-size: 11px;
    font-weight: lighter;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.contactsHotLineBM span{
    display: flex;
    width: 200px;
    font-size: 20px;
    font-weight: lighter;
    color: #8a8888;
    margin-bottom: 20px;
    text-decoration: none;
}

.contactsHotLineBM i {
    display: flex;
    font-size: 35px;
}

.contactsHotLineBM a {
    width: 50px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.subscribeNewsBurgerMenu {
    position: relative;
}

.subscribeNewsBurgerMenu input {
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: white solid 1px;
    background-color: #272727;
    outline: none;
    color: white;
}

.subscribeNewsBurgerMenu h2 {
    font-size: 11px;
    font-weight: lighter;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

@media (max-width: 430px) {
    .subscribeNewsBurgerMenu h2 {
        margin-top: 100px;
        margin-bottom: 35px;
    }
}

.subscribeNewsBurgerMenu i {
    position: absolute;
    font-size: 30px;
    top: 56%;
    left: 88%;
    transition: left ease 500ms;
}

@media (max-width: 430px) {
    .subscribeNewsBurgerMenu i {
        top: 56%;
        left: 18.6%;
    }
}

@media (max-width: 414px) {
    .subscribeNewsBurgerMenu i {
        top: 80%;
        left: 88%;
    }
}

@media (max-width: 375px) {
    .subscribeNewsBurgerMenu i {
        top: 76%;
        left: 88%;
    }
}

@media (max-width: 375px) {
    .subscribeNewsBurgerMenu h2 {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media (hover: hover) {
    .subscribeNewsBurgerMenu i:hover {
        cursor: pointer;
        left: 18.6%;
    }
    .contactsHotLineBM i:hover::before {
        font-size: 30px;
        color: rgb(241, 175, 88);
        transition: ease 250ms;
    }
}

