* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(90deg, white 60%, #272727 40%);
}

.headerStore {
    width: 100%;
    padding-top: 70px;

}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-left: 10%;
}

.iconsHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}


.headerContent box-icon {
    width: 2rem;
    height: 2rem;
    margin-inline: 10px;
}

/*Burger button*/
.burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #c9c9c9;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    transition: all 0.1s ease 0s;
}

.burger::before { top: 17%}
.burger::after {bottom: 15%}

.burger:hover::before { top: 13%}
.burger:hover::after {bottom: 10%}

.burger.active span { transform: scale(0);}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media (max-width: 1101px) {
    header {
        background-image: linear-gradient(129deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

@media (max-width: 430px ) {
    header {
        background-image: linear-gradient(108deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

