* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(90deg, white 60%, #272727 40%);
}

.headerStore {
    width: 100%;
    padding-top: 70px;

}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent box-icon {
    width: 2rem;
    height: 2rem;
}

.iconsWithBurger {
    display: flex;
    justify-content: space-between;
}

/*Burger button*/
.burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: white;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 17%}
.burger::after {bottom: 15%}

.burger.active span { transform: scale(0);}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}