/*Burger menu*/
* {
    /* border: 1px solid rgb(96, 211, 96); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
}

.headerStore {
    width: 100%;
    height: 14vh;
    padding-top: 40px;
    position: relative;
}

.headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContent a {
    margin-left: 10%;
}

.iconsHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.iconsHeader box-icon:hover {
    cursor: pointer;
}


.headerContent box-icon {
    width: 2rem;
    height: 2rem;
    margin-inline: 10px;
}

/*Burger button*/
.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #c9c9c9;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    transition: all 0.1s ease 0s;
}

.burger:hover {
    cursor: pointer;
}
.burger::before { top: 17%}
.burger::after {bottom: 15%}

.burger:hover::before {top: 13%;}
.burger:hover::after {bottom: 10%;}

.burger.active span { transform: scale(0);}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media (max-width: 1101px) {
    header {
        background-image: linear-gradient(129deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .logo {margin: 0px}
}

@media (max-width: 430px) {
    header {
        background-image: linear-gradient(108deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .iconsHeader {margin: 0;}
    .burger {margin: 10px 0 0 0}
    .headerContent {flex-direction: column;}
    .headerContent a {margin-right: 15%;}
    .logo {margin: 0px}
}

@media (max-width: 380px){
    header {
        background-image: linear-gradient(115deg, white 60%, #272727 40%);
        background-repeat: no-repeat;
    }
    .headerContent a {
        margin-right: 15%;
    }
}

.burgerMenu {
    width: 100%;
    height: 145dvh;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #272727;
    color: white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s ease;
}

.navigation {
    width: 100%;
    height: 10vh;
    margin-top: 2%;
    background-color: #313131;
}

.navLinks {
    height: 100%;
    margin-inline: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
    color: white;
}

.navLinks a::after {
    position: absolute;
    top: 97%;
    content: '';
    width: 0;
    height: 2px;
    background-color: rgba(241, 175, 88, 0);
    transition: all 250ms ease;
}

.navLinks a:hover {
    cursor: pointer;
}

.navLinks a:hover:after {
    cursor: pointer;
    width: 100%;
    height: 2px;
    background-color: rgb(241, 175, 88);
}

a.pushed::after {
    width: 100%;
    height: 2px;
    background-color: white;
}

/*navigationsCategories*/
.linksCategories {
    /* width: 100lvw; */
    height: 60vh;
    display: flex;
    position: relative;
    margin-left: 10%;
}

.linksCategories::after {
    position: absolute;
    top: 97%;
    left: 4%;
    content: '';
    width: 82%;
    height: 2px;
    background-color: #313131;
}

.targetAudience,
.categoriesBijou,
.materials,
.brands {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 5%;
}

.targetAudience h2,
.categoriesBijou h2,
.materials h2,
.brands h2 {
    margin-bottom: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13.5px;
    color: white;
}

.targetAudience a,
.categoriesBijou a,
.materials a,
.brands a {
    width: max-content;
    height: max-content;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 13.5px;
    color: white;
}

.targetAudience a::after,
.categoriesBijou a::after,
.materials a::after,
.brands a::after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: rgba(241, 175, 88, 0);
    display: flex;
    align-items: center;
    transition: all 500ms ease;
}

.targetAudience a:hover:after,
.categoriesBijou a:hover:after,
.materials a:hover:after,
.brands a:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(241, 175, 88);
}
